@model Znaniya.Domain.Entities.AllPositions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string strTitle = "Книга";
    ViewBag.Title = strTitle;
}

<div>@Html.Raw(Model!.Book!.Text)</div>

<div>
    <h3>Главы</h3>

    <br />
    <div class="div-box">
        <a asp-area="Admin" asp-controller="Chapters" asp-action="Add" asp-route-id="@Model!.Book!.BookID">Добавить главу</a>
    </div>
    <br />
    @if (Model.Chapters!.Any())
    {
        <div>
            @foreach (Znaniya.Domain.Entities.Chapter entity in Model!.Chapters!)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="Chapters" asp-action="Edit" asp-route-id="@entity.ChapterID">редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.ChapterID" asp-area="Admin" asp-controller="Chapters" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.ChapterID">
                            <input type="hidden" name="bookid" value="@Model.Book.BookID">
                            <a href="#" onclick="document.getElementById('form-@entity.ChapterID').submit();">удалить</a>
                        </form>
                        |
                        <a asp-area="Admin" asp-controller="Chapters" asp-action="Details" asp-route-id="@entity.ChapterID">
                            @($"{entity.Title}")
                        </a>
                    </div>

                }
        </div>
    }
</div>

